.cellContent {
  font-weight: 500;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a9b6c8;
}

.doted__text {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}
.doted__text__dot {
  margin-right: 8px;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .dataGridroot {
    margin: 0 3px;
  }
}
