.l-item:hover, .active {
  background: rgba(232, 103, 234, 0.2);
  color: rgb(232, 103, 234) !important;
  border-color: rgb(232, 103, 234);
}

.active {
  border-left-width: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
